@import url("https://mshaugh.github.io/nerdfont-webfonts/build/firacode-nerd-font.css");

:root {
  --text: #F3E0EC;
  --link: #FF686B;
  --bg:   #241E4E;
  --nonimp: #2b2462;
  --warning: #FFFBBD;
}

html {
  font-family: "FiraCode Nerd Font", monospace;
  height: 100vh;
  margin: 0;
}

body {
  background: var(--bg);
  color: var(--text);
  height: 100vh;
  margin: 0;

  display: flex;
  flex-direction: column;
}

a {
  color: var(--link); 
  font-weight: bold;
}

em {
  color: var(--warning);
}

hr {
  color: var(--text);
}

.highlight pre {
  background: var(--nonimp)
}

#header {
  display: flex;
  gap: 30px;
  flex-direction: row;
  justify-content: center;

  padding: 20px 0;
  width: 100%;

  background: var(--nonimp);
}

#content {
  margin: 10px 5px;
}

#footer {
  font-size: 0.5rem;
  text-align: center;

  margin-top: auto;
}

.toc {
  margin: 0 40px;
  border: 2px solid var(--text);
  padding: 10px 10px;
}

.toc ul {
  list-style-type: none;
}
